:host {
    direction: rtl;
}

.taskLine {
    flex-wrap: wrap;
    word-wrap: break-word;
}

.deleteIcon {
    z-index: 1000;
}

.wazeIcon {
    z-index: 1000;
    margin-left: 3%;
}

.card{
    direction: rtl;
    // background-color: #3171e0;
    // color: #ffc409;
    // font-weight: bold;
}

.content{
   margin-right: 48px;
}