<ion-list>
  <ion-card *ngFor="let task of taskslist$ | async" class="card">
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{task | printTask}}
      </ion-label>
      <ion-checkbox *ngIf="!task.task.isCompleted" slot="start" (ionChange)="taskFinished(task)"></ion-checkbox>
      <ion-icon name="navigate-outline" (click)=serachOnWaze(task) class="wazeIcon"></ion-icon>
      <ion-icon name="trash-outline" (click)="deleteTask(task)" class="deleteIcon"></ion-icon>
    </ion-item>
    <ion-card-content>
      <ion-label class="ion-text-wrap content">
        {{task.task.content}}
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-list>