:host{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    direction: rtl;
}
.authButton{
    font-weight: bold;
}

.google-sign-in{
    margin-bottom: 50px !important;
}

.ion-title{
    text-align: center;
}