<!-- <ion-fab vertical="bottom" horizontal="start" class="google-sign-in" (click)="googleAuth()">
  <ion-fab-button>
    <ion-icon name="logo-google"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
<ion-item lines="none">
  <ion-title size="large">כניסת משתמש</ion-title>
</ion-item>
<ion-item>
  <ion-label>מייל</ion-label>
  <ion-input #mail></ion-input>
</ion-item>
<ion-item>
  <ion-label>סיסמה</ion-label>
  <ion-input type="password" #password></ion-input>
</ion-item>
<ion-button (click)="signIn(mail.value,password.value)">אישור</ion-button>