#container {
  // text-align: center;
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 10%;
  // transform: translateY(-50%);
}

img {
  display: block;
  margin: auto;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}