<div id="container">
  <img src="../../assets/icon/chcochipsIcon.jpg" />
  <strong>{{ name }}</strong>

  <!-- <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
</div>