<ul class="statsTable">
  <li class="title">{{title}}</li>
  <li>
    <ion-label> כמות המשלוחים :</ion-label>
    <ion-label *ngIf="values$ | async as values"> {{values.length}}</ion-label>
  </li>
  <li>
    <ion-label> הסכום הכולל:</ion-label>
    <ion-label> {{price}}</ion-label>
  </li> 
</ul>