<ion-item>
  <ion-label> זמן התחלה</ion-label>
  <ion-datetime display-format="DD-MM-YYYY" [value]="fromStringDate" (ionChange)="fromDateChanged($event)" min="2015"
    max="2030"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label> זמן סיום</ion-label>
  <ion-datetime display-format="DD-MM-YYYY" [value]="toStringDate" (ionChange)="toDateChanged($event)" min="2015"
    max="2030"></ion-datetime>
</ion-item>