<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="menu"></ion-icon>
      <ion-label>רשימת המשלוחים</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>הוספת משלוח</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>סיכום המשלוחים</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>