<ion-item>
  <ion-label> תאריך</ion-label>
  <ion-datetime display-format="DD-MM-YYYY" [(ngModel)]="todayDate" placeholder="בחר תאריך" min="2015" max="2030"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label> זמן</ion-label>
  <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="timeNow"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>מיקום</ion-label>
  <ion-input [(ngModel)]="adress"></ion-input>
</ion-item>
<ion-item>
  <ion-label>מחיר</ion-label>
  <ion-input type="number" [(ngModel)]="price"></ion-input>
</ion-item>
<ion-item>
  <ion-label>תוכן המשלוח</ion-label>
  <ion-input [(ngModel)]="content"></ion-input>
</ion-item>
<section>
  <ion-button expand="full" color="primary" (click)="addTask()">הוספה</ion-button>
</section>