<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      הוספת משלוח
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">הוספת משלוח</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-add-task></app-add-task>
  <!-- <app-explore-container name="עריכת משלוחים"></app-explore-container> -->
</ion-content>
