<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      רשימת המשלוחים
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-google-sign-in class="google-sign-in"></app-google-sign-in> -->
  <ion-item>
    <ion-label>איזה משלוחים להציג?</ion-label>
    <ion-select interface="action-sheet" value="notCompleted" (ionChange)="tasksModePicked($event)">
      <ion-select-option value="completed">משלוחים שהסתיימו</ion-select-option>
      <ion-select-option value="notCompleted">משלוחים פתוחים</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <app-explore-container></app-explore-container> -->
  <app-date-range (fromDateInMsChanged)="fromDateInMsChanged($event)" (toDateInMsChanged)="toDateInMsChanged($event)"></app-date-range>
  <img src="../../assets/icon/chcochipsIcon.jpg" />
  <app-tasks-list [fromDateInMs$]="fromDateInMs$" [toDateInMs$]="toDateInMs$" [isCompleted$]="isCompleted$" (tasksListFinishedLoading)="initializeTasksList()"></app-tasks-list>
</ion-content>