<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      סיכום משלוחים
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> סיכום משלוחים </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-date-range (fromDateInMsChanged)="fromDateInMsChanged($event)" (toDateInMsChanged)="toDateInMsChanged($event)"></app-date-range>
  <app-daily-stats [fromDate$]="fromDateInMS" [toDate$]="toDateInMS" [isCompleted]="true" title="משלוחים שנשלחו">
  </app-daily-stats>
  <app-daily-stats [fromDate$]="fromDateInMS" [toDate$]="toDateInMS" [isCompleted]="false" title="משלוחים שנותרו">
  </app-daily-stats>
</ion-content>